html {
    overflow-y: scroll;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: #F3F3F3;
}

.left {
    width: 260px;
    height: 100%;
    float: left;

    background: -webkit-linear-gradient(left, rgba(0, 191, 255, 0.7) 0%, rgba(38, 154, 188, 0.7) 100%);
    background: rgba(0,0,0, 0.6);
    border-right: 5px solid #CCC;

    color: #FFF;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1;
    overflow: auto;
    font-size: 15px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
}

.glyphicon {
    margin-right: 4px;
}

.left .contents {
    padding: 10px 20px 10px;
    min-width: 260px;
    float: right;
}

button {
    color: #333;
}

.right {
    float: none; /* not needed, just for clarification */
    /*background: url(../img/cell.svg) -1px -1px;*/
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
    padding-left: 260px;
}

#sandbox {
    padding: 20px;
    float: left;
    font-family: 'Open Sans', sans-serif;

}

#sandbox .container {
    border-radius: 5px;
    width: 1000px;
    margin: 15px 30px 30px;
    background: #FFF;
    transition: border 500ms, box-shadow 500ms;

}

#sandbox .active-layout .container {
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
}

.row > .sortable {
    margin: 0;
}

.sortable {
    /*border-radius: 5px;*/
    margin: 10px auto;
    padding: 0 5px;
    min-height: 40px;
    /*background: #F9F9F9;*/
}

.draggable-block .sortable {
    border: 1px solid #CCC;
}

.sortable {
    border: 1px dotted transparent;
}
.show-grid .sortable,
.draggable-hovered .sortable,
.selected .sortable,
#sandbox.while-dragging .sortable {
    border-color: #AAA;
}

.row .sortable + .sortable {
    border-left-color: transparent !important;
}


header.sortable,
footer.sortable {
    min-height: 100px;
}
main.sortable {
    min-height: 600px;
}

.hint {
    color: #DDD;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.draggable-block > * {
    margin: 0;
}
.draggable-block input,
.draggable-block button {
    pointer-events: none;
}
.draggable-block,
.draggable {
    cursor: move;
    margin: 10px auto !important;
}
.draggable-hovered {
    outline: 2px solid #7ac1d5;
    outline: 2px solid #26b3f7;
}
.draggable-hovered.ui-sortable-helper {
    outline: none;
}
.draggable {
    position: relative;
}
.draggable.selected {
    outline: 2px solid #68a2b1;
}

.task-sortable-placeholder {
    /*margin: 0;*/
    /*box-sizing: content-box;*/
    /*border-radius: 10px;*/
    /*height: 5px;*/
    /*background: #6dbbfe;*/
}

.ui-sortable-placeholder {
    visibility: visible !important;
    outline: none !important;
    border: 2px solid #26b3f7 !important;
    border-radius: 5px;
    background: #FFF url(../img/lines.svg) -1px -1px !important;
}
.ui-sortable-placeholder-animated {
    transition: height 200ms;
}

.draggable-ghost {
    /*opacity: 0.5;*/
}

.ui-sortable-helper {
    /*display: none !important;*/
    opacity: 0.8;
    outline: none !important;


    /*width: 100%;*/
}
.ui-sortable-helper .block-controls {
    display: none !important;
}

header.sortable {
    border-bottom: 1px dotted #CCC;
}
footer.sortable {
    border-top: 1px dotted #CCC;
}
header:empty,
footer:empty,
main:empty {
    background: center center no-repeat;
}
header:empty {
    background-image: url(../img/label.php?text=header+section);
}
main:empty {
    background-image: url(../img/label.php?text=main+section);
}
footer:empty {
    background-image: url(../img/label.php?text=footer+section);
}


#settings-teplate {
    display: none;
}

.block-controls {
    display: none;
    border-bottom-left-radius: 3px;
    background: #26b3f7;
    color: #FFF;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 24px;
    line-height: 1;
    z-index: 2;
    height: 30px;
    padding: 1px;
    text-align: right;
}
.block-controls,
.block-controls a {
    color: #FFF;
    cursor: pointer;
}

.block-controls .block-name {
    font-size: 10px;
    position: absolute;
    color: #1f92c8;
    top: -14px;
    right: 0;
    white-space: nowrap;
    padding: 0 3px;
    background: #FFF;
}

.block-controls-buttons a {
    opacity: 0.8;
}
.block-controls-buttons a:hover {
    opacity: 1;

}
.draggable-hovered > .block-controls,
.d1raggable.selected > .block-controls {
    display: block;
}

.ui-sortable-placeholder .block-controls {
    display: none !important;
}

.modal-dialog {
    padding-top: 0;
}

.block-label {
    display: none;
}

.left .draggable-block {
    position: relative;
    overflow: hidden;
}
.left .draggable-block .block-code > * {
    opacity: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin: 0;
    z-index: 100;
}

.left .block-label {
    display: block;
}

.todo {
    opacity: 0.5;
}

.placeholder-line {
    padding: 0;
    height: 0px !important;
    border: none !important;
    background: #26b3f7 !important;
    outline: 2px solid #26b3f7 !important;
    z-index: 100;
    position: relative;
}
.placeholder-line:after {
    content: " move to here ";
    position: absolute;
    background: #26b3f7;
    color: #FFF;
    font-size: 11px;
    padding: 1px 3px;
    border-radius: 10px;
    line-height: 1;
    top: -6px;
    left: 40%;
}

.ui-resizable-helper > * {
    opacity: 1 !important;
}

.old-placeholder {
    opacity: 0.5;
}

.grid-setup {
    width: 481px;
    height: 40px;
    background: url(../img/gridgrid.svg);
    position: relative;

}
.grid-setup .grid-setup-line {
    position: absolute;
    top: 1px;
    left: 0;
    margin-left: -8px;
    bottom: 1px;
    width: 16px;
    border-left: 6px solid #FFF;
    border-right: 7px solid #FFF;
    background: #90d1f7;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.2);
    cursor: col-resize;
    transition: left 200ms ease-out;
}
.grid-setup .grid-setup-line:hover {
    background: #26b3f7;
}

.hidden {
    display: none;
}

.btn-group-language-switcher {
    margin-bottom: 2ex;
}

.saved-layouts {
    font-size: 13px;
    height: 30px;
    padding: 3px;
    /*border: 1px solid;*/
    /*border-color: #CCC #EEE #EEE #CCC;*/
    /*background: #EEE;*/
    /*border-radius: 3px;*/
    width: 220px;
}

.right {
    padding-top: 50px;
}

.left select {
    color: #000;
}

#page-switcher {
    padding: 1ex;
    width: 100%;
    border: none;
    border-radius: 4px;
    background: #999;
    color: #FFF;
    overflow: hidden;

}

.right .header {
    position: fixed;
    height: 60px;
    width: 100%;
    left: 0;
    padding: 10px 40px;
    top: 0;
    z-index: 100;
    margin-left: 260px;
}

/*
.right .header.scrolled {
    background: rgba(0,0,0,0.15);
}
*/

.control-panel {
    padding: 10px;
    border-radius: 3px;
    float: left;
    transition: background 200ms;
}

.right .header.scrolled .control-panel {
    /*background: rgba(57, 179, 215, 0.5);*/
    background: rgba(0, 0, 0, 0.1);
}

.btn-group-device {
    float: right;
}

.obb-page {
    float: left;
    clear: both;
    opacity: 0;
    transition: margin 500ms, opacity 500ms;
}
.obb-page.active-obb-page {
    opacity: 1;
}


.obb-page .layout {
    width: 100%;
    float: left;
    top: 0;
    bottom: 0;
    transition: margin 500ms, opacity 500ms;
}

.obb-page.animation-off {
    transition: none;
}


.right .header .disabled {
    background: #EEE;
    color: #999;
    text-shadow: 1px 1px 0 #FFF;
    opacity: 1;
}

#logo {
    font-size: 22px;
    letter-spacing: 1px;
    color: #FFF;
    margin-top: 10px;
}
#logo .subpage {
    font-size: 16px;
    display: block;
    margin: 5px 0 20px 0;
    opacity: 0.8;
}

p {
    margin: 5px 0;
}

.wrap {
    background: rgba(255,255,255,0.2);
    font-size: 13px;
    padding: 10px;
    border-radius: 4px;
}

.left .btn {
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.left h5 {
    margin-top: 20px;
}
