body {
    padding: 20px;
}
.shop-logo {
    padding: 5px;
    border-radius: 5px;
    color: #CCC;
    text-align: center;
}

.shop-logo .block-title {
    font-size: 18px;
    height: 100px;
    width: 1000px;
    display: table-cell;
    vertical-align: middle;
}

.google-map {
    width: 100%;
    height: 300px;
    background: #FFF url(../img/googlemap.png) center center no-repeat;
    border-radius: 6px;
}

.draggable.carousel {
    margin: 20px auto;
}

.carousel {
    padding: 20px;
    border-radius: 6px;
    height: 460px;
}

.carousel .carousel-control {
    background: transparent;
    color: #CCC;
    text-shadow: none;
}

.carousel .carousel-indicators li {
    border-color: #CCC;
}

.carousel .carousel-indicators li.active {
    background-color: #CCC;
}

.carousel,
.shop-logo {
    background: url(../img/lines2.svg);
    border: 1px solid #DDD;
}
