html, body {
    height: 100%;
    margin: 0;
    background: #EEE;
    background: url(../img/cell.svg) -1px -1px;
}

.left {
    width: 240px;
    height: 100%;
    float: left;
    background: #444;
    color: #FFF;
    padding: 1ex;

    position: fixed;
    top: 0;
    height: 100%;
    overflow: auto;
    z-index: 2;
}

.right {
    margin-left: 240px;
    float: none; /* not needed, just for clarification */
    padding: 20px;
    /*background: url(../img/cell.svg) -1px -1px;*/
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}

.right > .container {
    width: 100%;
    max-width: 1200px;
    background: #FFF;
    border-radius: 5px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
}

.row > .sortable {
    margin: 0;
}

.sortable {
    box-sizing: border-box;
    /*border-radius: 5px;*/
    margin: 10px auto;
    padding: 10px;
    min-height: 40px;
    /*background: #F9F9F9;*/
}

.draggable-block .sortable {
    border: 1px solid #CCC;
}

.sortable {
    border: 1px dotted transparent;
}
.show-grid .sortable,
.draggable-hovered .sortable,
.selected .sortable,
#sandbox.while-dragging .sortable {
    border-color: #AAA;
}

.row .sortable + .sortable {
    border-left-color: transparent !important;
}


main.sortable {
    min-height: 600px;
}

.hint {
    color: #DDD;
    text-align: center;
    font-size: 150%;
    font-weight: bold;
}

.draggable-block > * {
    margin: 0;
}
.draggable-block input,
.draggable-block button {
    pointer-events: none;
}
.draggable-block,
.draggable {
    cursor: move;
    margin: 5px auto !important;
}
.draggable-hovered {
    outline: 2px solid #7ac1d5;
}
.draggable-hovered.ui-sortable-helper {
    outline: none;
}
.draggable {
    position: relative;
}
.draggable.selected {
    outline: 2px solid #68a2b1;
}

.task-sortable-placeholder {
    /*margin: 0;*/
    /*box-sizing: content-box;*/
    /*border-radius: 10px;*/
    /*height: 5px;*/
    /*background: #6dbbfe;*/
}

.ui-sortable-placeholder {
    border: 1px dotted #AAA !important;
    visibility: visible !important;
    outline: none !important;
    background: #FFF !important;
}

.draggable-ghost {
    /*opacity: 0.5;*/
}

.ui-sortable-helper {
    /*display: none !important;*/
    opacity: 0.7;
    /*width: 100%;*/
}

header {
    border-bottom: 1px dotted #CCC;
}
footer {
    border-top: 1px dotted #CCC;
}
header:empty,
footer:empty,
main:empty {
    background: center center no-repeat;
}
header:empty {
    background-image: url(../img/label.php?text=header+section);
}
main:empty {
    background-image: url(../img/label.php?text=main+section);
}
footer:empty {
    background-image: url(../img/label.php?text=footer+section);
}

.shop-logo {
    height: 100px;
    width: 100%;
    background: #EEE;
    text-align: center;
    line-height: 100px;
    border-radius: 5px;
    color: #CCC;
    font-size: 18px;
}

#settings {
    display: none;
    border-radius: 3px;
    background: #26b3f7;
    color: #FFF;
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: 24px;
    line-height: 1;
    z-index: 2;
    height: 30px;
    padding: 1px;
    opacity: 0.5;
    transition: opacity 200ms;
}
#settings,
#settings a {
    color: #FFF;
    cursor: pointer;
}

.draggable.selected #settings:hover {
    opacity: 1;

}
.draggable.selected #settings {
    display: block;
}

.modal-dialog {
    padding-top: 10%;
}

.block-label {
    display: none;
}

.left .draggable-block .block-code {
    display: none;
}

.left .block-label {
    display: block;
}

.ui-sortable-helper {
    transition: width 100ms, height 100ms;
}
