html, body {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    font-size: 13px;
}

.container {
    height: 100%;
    overflow: hidden;
}

.left {
    width: 240px;
    height: 100%;
    float: left;
    background: #444;
    color: #FFF;
    padding: 1ex;
}

.right {
    float: none; /* not needed, just for clarification */
    height: 100%;
    background: url(../img/cell.svg) -1px -1px;
    /* the next props are meant to keep this block independent from the other floated one */
    width: auto;
    overflow: hidden;
}
