<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Default layout</title>
    <link rel="stylesheet" type="text/css" href="../../vendor/bootstrap-3.1.1-dist/css/bootstrap.css"/>
    <script src="../../js/jquery-2.1.0.js"></script>
    <script src="../../vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/extra-styles.css"/>
</head>
<body>

<div class="container">
    <header class="sortable">
        <div class="grid-row row">
            <div class="sortable col-md-3">
                <h2 class="shop-title">
    Shop Title</h2>
                <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">Data</li>
                </ol>
            </div>
            <div class="sortable col-md-9">
            <div class="shop-logo">
                    <div class="block-title">
                        <span class="glyphicon glyphicon glyphicon-picture"></span> Shop Logo
                    </div>
                </div></div>
        </div>
    </header>
    <main class="sortable">
        <div class="custom-text-html">
            <script class="params" type="application/json">
                {
                    "translations"
                :
                    {
                        "da"
                    :
                        "<h1>Velkommen!</h1>\n<p>Tillykke med din nye Internet butik. Quick Guiden hjælper dig hurtigt i gang. Den kommer automatisk første gang du logger ind i online administrationen og du kan altid finde den under menupunktet 'Generelt'.</p>",
                                "de"
                    :
                        "<h1>Willkommen!</h1>\n<p>Viel Glück mit Ihrem Webshop. Eine der neuen Funktionen ist ein Quick Guide, der Ihnen bei einem flotten Start behilflich sein soll. Er erscheint automatisch, wenn Sie sich zum ersten Mal bei der Online-Verwaltung anmelden, und Sie können ihn unter dem Menüpunkt 'Werkzeuge' immer wieder finden.</p>"
                    }
                }
            </script>
            <h1>Welcome!</h1>
            <p>Congratulations with your new web shop. The Quick Guide helps you get started easily. It will start up automatically the first time you log onto the online admin system. Later, you can always find it under the 'General' menu.</p>
            <p>Good luck with your new OpenBizBox web shop; we hope it will be very profitable. Should you need any professional support or help with getting started, please don't hesitate to contact us.</p>
        </div>
        <div class="slider jumbotron">
            <h1>Slider</h1>
            <p>This is your home page, you are able to remove and add any block. Each block has such hint</p>
            <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
        </div>
    </main>
    <footer class="sortable">
        <div class="grid-row row">
            <div class="sortable col-md-3">
                <p class="info-pages-links">
                    <a href="#">Privacy Notice</a><br>
                    <a href="#">Conditions of Use</a><br>
                    <a href="#">Sitemap</a><br>
                    <a href="#">Newsletter</a><br>
                </p>
            </div>
            <div class="sortable col-md-3">
                <p class="account-pages-links">
                    <a href="#">My Account</a><br>
                    <a href="#">Edit Account</a><br>
                    <a href="#">Password</a><br>
                    <a href="#">Address Books</a><br>
                    <a href="#">Wish List</a><br>
                    <a href="#">Order History</a><br>
                    <a href="#">Newsletter</a><br>
                    <a href="#">Logout</a>
                </p>
            </div>
            <div class="sortable col-md-3"></div>
            <div class="sortable col-md-3"></div>
        </div>
    </footer>
</div>

</body>
</html>
