<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>map</title>
    <link rel="stylesheet" type="text/css" href="../vendor/bootstrap-3.1.1-dist/css/bootstrap.css"/>
    <script src="../js/jquery-2.1.0.js"></script>
    <script src="../vendor/bootstrap-3.1.1-dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/extra-styles.css"/>
</head>
<body>

<div class="container">
                            <header class="sortable"></header>
                            <main class="sortable"><div class="grid-row row ui-draggable">
                        <div class="sortable col-md-5"><div class="google-map ui-draggable">
    </div></div>
                        <div class="sortable col-md-7"><div class="custom-text-html ui-draggable">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt tellus eget tortor elementum pellentesque. Vivamus a ornare turpis. Curabitur quis urna in erat elementum dapibus et et sem. Morbi congue sem vitae urna adipiscing laoreet. Ut lectus elit, vulputate ac metus vitae, cursus malesuada purus. Pellentesque tristique egestas elit, vitae rhoncus est sagittis vitae. Morbi lobortis condimentum massa eget vehicula. Duis nec massa vel mauris dignissim fermentum eget vel nulla. Pellentesque quis nunc mattis, mollis nibh vel, ornare sapien.</div><div class="custom-text-html ui-draggable">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt tellus eget tortor elementum pellentesque. Vivamus a ornare turpis. Curabitur quis urna in erat elementum dapibus et et sem. Morbi congue sem vitae urna adipiscing laoreet. Ut lectus elit, vulputate ac metus vitae, cursus malesuada purus. Pellentesque tristique egestas elit, vitae rhoncus est sagittis vitae. Morbi lobortis condimentum massa eget vehicula. Duis nec massa vel mauris dignissim fermentum eget vel nulla. Pellentesque quis nunc mattis, mollis nibh vel, ornare sapien.</div></div>
                    </div></main>
                            <footer class="sortable"></footer>
                        </div>

</body>
</html>
